.left-card {
  flex-basis: 50%;
  
  text-align: center;
  color: white;
  padding: 1.5rem 2rem;
}

.div-img {
 
  background-image: url("../../../public/human.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.img-dash {
  width: 200px;
  height: 10px;
  border: 0;
}

.div-slider {
  width: 50%;
  border: 0;
  background-color: transparent;
}

.div-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0.3rem .5rem;
  border-radius: 8px;
  border: none;
  background-color: transparent;
}

.img-back {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0
}

.mobile-header {
  /* opacity: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.menu {
  width: 60px;
  height: 100px;
  color: #0000ff;
  font-size: 24px;
  display: none;
}

.img {
  display: none;
}

.div-image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .left-card {
    padding: 0.5rem;
  }

  .div-img {
    background: none;
    background: url("/public/human-mobile.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .div-img {
    background: none;
    background: url("/public/human-mobile.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 0;
    height: 500px;
    position: relative;
    margin: 0 auto;
  }

  .left-card {
    padding: 0;
    max-width: 500px;
    width: 100%;
    min-width:100%;
  }

  .div-slider {
    bottom: 30px;
    position: absolute;
    bottom: 40px;
  }

  .div-button{
    display: none;
  }

  .imgfs {
    width: 150px;
    height: 7%;
  }

  .mobile-header {
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .div-head-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
    font-weight: bold;
    font-size: 20px;
  }

  .div-head-right span {
    color: #0000ff;
  }

  .select {
    background-color: transparent;
    border: 0;
    color:#0000ff;
    font-size: 12px;
    height: 10px;
  
  }

  .img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .menu {
    display: block;

}

.div-image {
  width: auto;
}

}

@media screen and (max-width: 320px){
  .left-card {
    padding: 0.5rem 1rem 1rem;
    width: 100%;
  } 

  .div-image {
    width: 100%;
  }

  .imgfs {
    width: 100px;
    height: 5%;
    /* background-color: red; */
  }

 .div-slider {
  width: 100%;
  margin: 0 auto;
 }

  .menu {
    width: 60px;
    height: 50px;
  }
}