.div-three-lines{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: #000;
    background-color: orangered;
  }

  .tiret-one,
  .tiret-two,
  .tiret-three {
    width: 20px;
    height: 1px;
    background-color: #000;
    margin-left: 5px;
  }

  .active {
    width: 40px;
    background-color: orangered;
  }