body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 7, 152, 0.289);
    padding: 3rem;
 }

 .card {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    margin: 1.5rem auto;
    background-color: #fff;
    font-family: Poppins, roboto, Tahoma, Geneva,sans-serif;
    font-size: 14px;
    height: 100%;
    border: 0.5px solid rgba(31, 7, 152, 0.289);
}

/* 
@media screen and (max-width: 320px ) {
    .card {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    body {
        padding: 0;
        display: block;
    }
} */

@media screen and (max-width: 500px ) {
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    body {
        padding: 0;
        display: block;
    }
}